@font-face {
	font-family: 'Pangram';
	src: url('hinted-Pangram-ExtraBold.eot');
	src: local('Pangram ExtraBold'), local('Pangram-ExtraBold'),
		url('../fonts/hinted-Pangram-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hinted-Pangram-ExtraBold.woff2') format('woff2'),
		url('../fonts/hinted-Pangram-ExtraBold.woff') format('woff'),
		url('../fonts/hinted-Pangram-ExtraBold.ttf') format('truetype'),
		url('../fonts/hinted-Pangram-ExtraBold.svg#Pangram-ExtraBold') format('svg');
	font-weight: 800;
	font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    background: #fff;
    color: #000;
    font-weight: 400;
}
h1 {
    font-family: 'Pangram', sans-serif;
    font-size: 3rem;
    margin: 0;
    font-weight: 800;
    text-align: center;
    width: 100%;
}
h2 {
    margin: 0;
    padding: 1.5rem 0 0.75rem;
    text-align: center;
		color: #A55214;
}
h3 {
		color: #333;
		font-size: 0.95rem;
		padding: 0.25rem 0;
		margin: 0;
}
h4 {
		padding: 0.5rem 0;
		margin: 0;
		color: #333;
		font-size: 0.75rem;
		font-style: italic;
		text-transform: uppercase;
}
p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin: 0;
    padding: 0.5rem 0;
}
a, a:visited, .mdi {
    font-size: 1.25rem;
    text-decoration: none;
    border: none;
    color: #FF9331;
    -webkit-transition: all 200ms; /* Safari */
    transition: all 200ms;
}
a:hover, a:active, a:focus {
    color: #A55214;
}
a::selection, h1::selection, h2::selection, h3::selection, h5::selection, h5::selection, h6::selection, p::selection, img::selection, a span::selection, a i.mdi::selection {
    background-color: #FF9331;
    color: #fff;
}
header {
    background-color: #FFF;
}
header, footer {
    margin: 0;
    padding: 0.5rem 1rem;
}
.inner-header, .inner-footer {
    margin: auto auto;
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    margin: auto auto;
    padding: 1rem 0;
}
.logo img {
    width: 100%;
}
header, main, footer {
    max-width: 400px;
    margin: auto auto;
}
main {
		max-width: 400px;
    display: flex;
    padding: 1rem 1rem 1rem;
    flex-direction: column;
}
main section {
    max-width: 600px;
    margin: auto auto;
}
main section ul,
main section ul li,
main section ul li ul,
main section ul li ul li {
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;
}
footer {
    padding-top: 0;
    background: #fff;
}
.inner-footer {
    padding-top: 0;
}
.inner-footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}
.inner-footer ul li {
    display: flex;
    flex-basis: 50%;
}
footer a {
    padding: 0.5rem 0;
    display: inline-flex;
    justify-content: center;
    margin: auto auto;
}
footer a i {
    padding-right: 0.5rem;
}
